@import '~bootstrap/scss/bootstrap';

body {
  background-image: url('https://image.shutterstock.com/image-vector/back-school-background-doodle-tic-600w-670970059.jpg');
}

.hide {
  display: none;
}

.box {
  border: 0.2rem solid black;
  padding: 1rem;
}
