@import '~bootstrap/scss/bootstrap';

body {
  background-image: url('https://i.imgur.com/0B6AV63.jpg');
  background-size: cover;
  font-family: 'B612 Mono', monospace;
}

h1 {
  color: white;
}

h3 {
  color: white;
}

header {
  border-bottom: 2px black solid;
}

.box {
  border: 0.2rem solid black;
  padding: 1rem;
}

.close {
  color: white;
}

.container-header {
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
}

.main-page {
  display: flex;
  justify-content: space-around;
  .btn {
    background-color: grey;
  }
}

.modal {
  background-image: url('https://i.imgur.com/0B6AV63.jpg');
  background-size: cover;
  .btn {
    background-image: url('https://i.imgur.com/0B6AV63.jpg');
  }
}

.modal-content {
  background-color: gray;
  opacity: 0.8;
}

.modal-title {
  color: white;
}
