@import '~bootstrap/scss/bootstrap';

body {
  background-image: url('https://i.imgur.com/0B6AV63.jpg');
  background-size: cover;
  font-family: 'B612 Mono', monospace;
}

h1 {
  color: white;
}

h3 {
  color: white;
}

header {
  border-bottom: 2px black solid;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vw;
  width: 12vw;
  font-size: 12vw;

  &:hover {
    background-color: black;
    opacity: 0.2;
  }
}

.close {
  color: white;
}

.container-header {
  display: flex;
  justify-content: center;
}

.game-page-header {
  display: none;
  justify-content: space-around;
  .btn {
    background-color: grey;
  }
}

.message1,
.message2 {
  display: flex;
  justify-content: center;
}

.new {
  display: none;
  justify-content: space-around;
  .btn {
    background-color: grey;
  }
}

.hide {
  display: none;
}

.main-page {
  display: flex;
  justify-content: space-around;
  .btn {
    background-color: grey;
  }
}

.modal {
  background-image: url('https://i.imgur.com/0B6AV63.jpg');
  background-size: cover;
  .btn {
    background-image: url('https://i.imgur.com/0B6AV63.jpg');
  }
}

.modal-content {
  background-color: gray;
  opacity: 0.8;
}

.modal-title {
  color: white;
}

.top {
  border-bottom: 2px solid black;
}

.bottom {
  border-top: 2px solid black;
}

.left {
  border-right: 2px solid black;
}

.right {
  border-left: 2px solid black;
}
